/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: ;
}

h1 {
font-family: 'Bai Jamjuree';
  color: #00000000000000000000;
}

h2 {font-family: 'Bai Jamjuree';

}
h3{font-family: 'Bai Jamjuree';
}

p{
  font-family: 'Bai Jamjuree';
}

img{
  width:100%;
}

